body {
  margin: 0 auto;
}

header,
footer,
aside,
main {
  padding: 1.2em;
}

header,
footer {
	/*grid-column-span: 3;	  ocuparán todo el ancho de la fila, es decir 3 columnas pero como esta propiedad no está implementada en Chrome, hay que ponerlo de otra forma */
	grid-column-start: 1;
	grid-column-end: 4;
}

header {
	color: white; 
	background-color: #0D47A1;	
	grid-row: 1;   /* el header estará en la fila 1 */
}

footer {
	background-color: #2196F3;	
	grid-row: 5;     /* el footer estará en la fila 5 */
}

main { 
	background-color: #BBDEFB; 
  	grid-column: 3;                /* esté en lo que sería la tercera columna del Grid y la tercera fila:*/
	grid-row: 3;	
}

aside {
	background-color: #EEEEEE;	
	grid-column: 1;                 /* esté en lo que sería la primera columna del Grid y la tercera fila:*/
	grid-row: 3;
}

.container {
  display: grid;
  /* Grid de 3x5 */
  /* 3 columnas: 1a de 200px, 2a como margen (1%), 3a ocupa el espacio restante */
  grid-template-columns: 200px 1% 1fr;
  /* 5 filas: grid-rows: 1a, 3a y 5a ancho automático, 2a y 4a como margen de 15px */
  grid-template-rows: auto 15px auto 15px auto;
}

@media (max-width: 400px) {
  .container {
    display: block;
  }
}