header, footer {
	width: 100vw;
	height: 5vh;
	margin-bottom: 0;
	margin-top: 0;
	background-color: #0CF0F3;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

main {
	height: 83vh;
}

section {
	margin-top: 3vh;
	margin-left: 2vw;
}

footer {
	background-color: #62869D;
}